.card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card-page svg {
  margin-top: 13rem;
}

.card-search {
  margin-top: 2rem;
}

.card {
  background-color: #f8f9fa;
  width: calc(50% - 16px);
  margin-bottom: 32px;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.card-header {
  display: flex;
  background-color: #f8f9fa;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.card-title {
  font-size: 24px;
  margin: 0;
}

.card-subtitle {
  font-size: 16px;
  margin-bottom: 8px;
}

.card-body {
  display: flex;
  padding: 16px;
}

.card-text {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  align-items: center;
}

.card-text h5 {
  display: flex;
  font-size: 16px;
  align-self: center;
}

@media (min-width: 576px) {
  .card {
    width: calc(80%);
  }
}

@media (max-width: 576px) {
  .card {
    width: calc(100%);
  }
}
