@media screen and (min-width: 576px) {
  .personCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
  }
  
  .assistedPage {
    display: flex;
    border: 1px solid red;
    flex-direction: column;
  }
  
  .registerPage {
    display: flex;
    border: 1px solid red;
    flex-direction: column;
    align-items: center;
  }
  
  .header {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  .headerLinks {
    font-size: large;
  }
}